#portfolio {
    margin-left: 55px;
}

#collap-bg {
    margin: 0px;
}

#collap-div {
    margin: 0px;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

#collap-head {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-image: url(../images/backgrounds/prism.png);
}

#parallax-container {
    height: 350px;
}

#about-me {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.25in;
    text-indent: .35in;
}

#nav-bg {
    background-image: url(../images/backgrounds/prism.png);
}

#footer-bg {
    background-image: url(../images/backgrounds/prism.png);
}

#collap-body-bg {
    background-image: url(../images/backgrounds/interlaced.png);
}

.cc-bg {
    background-image: url(../images/backgrounds/random_grey_variations.png);
}

#cl-bg {
    background-color: #0d47a1;
}

#repository {
    color: white;
}