.row-flex {
    display: flex;
}

#portfolio {
    font-family: 'Darker Grotesque', sans-serif;
    color: #8F9EE8;
    font-weight: bolder;
}

#collap-head-projects {
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url(../images/backgrounds/prism.png);
    border-bottom: solid 3px #69618F;
}

#collap-head-group {
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url(../images/backgrounds/prism.png);
    border-bottom: solid 3px #69618F;
}

#parallax-container {
    height: 400px;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 55px;
    color: #8F9EE8;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
}

#project-card {
    border-left: solid 5px #0d47a1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#collap-body-bg {
    background-image: url(../images/backgrounds/interlaced2.png);
}

.cc-bg {
    background-color: #e0e0e0;
    /*background-image: url(../images/backgrounds/random_grey_variations.png);*/
}

#cl-bg {
    background-color: #64b5f6;
}

#repository {
    color: white;
}

.link {
    color: #eeeeee;
}

.link:hover {
    color: turquoise;
}

#employer-links {
    line-height: 0.20in;
}

.thumbnail {
    width: 350px;
    height: 250px;
    opacity: 0.8;
}

.thumbnail:hover {
    opacity: 1.0;
}

.thumb-title {
    font-family: 'Merriweather', serif;
}

.thumb-text {
    line-height: 0.2in;
    font-family: 'Muli', sans-serif;
}

#emp-comp {
    line-height: 0.20in;
}

#top {
    background-color: #0d47a1;
}

#avatar {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 170px;
    border: double 10px #262949;
    

}

#sideBar {
    border-radius: 0%;
    margin: 0px;
    border-right: solid 6px #0d47a1 ;
    background-image: url(../images/backgrounds/prism.png);
}

#bio {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

#card-bio {
    opacity: 0.3;
    background-color: white;
    border: ridge 3px #8F9EE8;
}

#pageRow {
    margin: 0px;
}

#bodyRow {
    margin: 0px;
}

hr { display: block; height: 1px;
    border: 0; border-top: 2px solid #69618F;
    margin: 1em 0; padding: 0; }

#nav-bg {
    background-image: url(../images/backgrounds/prism.png);
    border-bottom: solid 6px #0d47a1;
}

.nav-links {
    font-family: 'Dosis', sans-serif;
}

#footer {
    background-image: url(../images/backgrounds/prism.png);
    border-top: solid 6px #0d47a1;
}



